<template>
  <v-container>
    <v-layout
      text-xs-center
      wrap
    >
      <v-flex xs12>
        <h1>{{ state }}</h1>
      </v-flex>
      <v-flex xs12>
        <p>triple counter {{ triple }}</p>
      </v-flex>
      <v-flex xs12>
        <p>
          increment by two with a mutation:
          <button @click="increment">Increment</button>
        </p>
      </v-flex>
      <v-flex xs12>
        <div>
          counter adjustment (+5/-3):
          <button @click="increment">Increment</button>
          <button @click="decrement">Decrement</button>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      //
    };
  },
  computed: {
    state() {
      return this.$store.state.counter;
    },
    triple() {
      return this.$store.getters.tripleCounter;
    }
  },
  methods: {
    asyncInc() {
      this.$store.dispatch('incrementAsync', 10);
    },
    increment() {
      this.$store.commit('increment', 5);
    },
    decrement() {
      this.$store.commit('decrement', 3);
    }
  }
};
</script>

<style scoped>
button {
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
}
</style>
