<template>
  <v-flex column>
    <v-layout
      align-center
      justify-space-between
      v-bind="binding"
    >
      <v-flex
        xs12
        sm6
      >
        <!-- Header -->
        <div
          v-if="property"
          class="result"
        >
          <div class="label">{{ property.propertyType }}</div>
          <h1 class="address">{{ property.fullAddress }}</h1>
          <div class="row">
            <div>
              <font-awesome-icon
                class="fa-2x"
                icon="bed"
              />
              <span class="icons">{{ property.bedrooms }}</span>
            </div>
            <div>
              <font-awesome-icon
                icon="bath"
                class="fa-2x"
              />
              <span class="icons">{{ property.bathrooms }}</span>
            </div>
            <div>
              <font-awesome-icon
                icon="expand"
                class="fa-2x"
              />
              <span class="icons">{{ property.finishedSize }}</span>
            </div>
          </div>
        </div>
        <!-- Details -->
      </v-flex>
      <v-flex
        xs12
        sm6
      >
        <p class="details">
          Last Sold
          <span>{{ lastSoldPrice }}</span>
        </p>
      </v-flex>
    </v-layout>
    <v-layout
      align-center
      justify-space-between
      v-bind="binding"
    >
      <v-flex
        v-if="property"
        xs12
        sm6
      >
        <div class="details-container">
          <h1>Details</h1>
          <p>
            Bathrooms: &nbsp;
            <span>{{ property.bathrooms }}</span>
          </p>
          <p>
            Bedrooms: &nbsp;
            <span>{{ property.bedrooms }}</span>
          </p>
          <p>
            Lot Size: &nbsp;
            <span>{{ property.lotSize }} SqFt</span>
          </p>
          <p>
            Year Built: &nbsp;
            <span>{{ property.yearBuilt }}</span>
          </p>
          <p v-if="lastSoldPrice != ''">
            Last Sold Price:
            <span>{{ lastSoldPrice }}</span>
          </p>
          <p v-if="lastSoldDate != ''">
            Last Sold Date:
            <span>{{ lastSoldDate }}</span>
          </p>
        </div>
      </v-flex>
      <!-- / -->
      <!-- ZILLOW -->
      <v-flex
        v-if="property"
        xs12
        sm6
      >
        <div class="zestimate-container">
          <img src="../assets/zillow-logo.png">
          <p>
            Amount: &nbsp;
            <span>{{ property.zestimateAmount }}</span>
          </p>
          <p>
            Last Updated: &nbsp;
            <span>{{ property.lastUpdated }}</span>
          </p>
          <p>Valuation Range: &nbsp;
            <br v-if="property.valuationRange.length > 13">
            <span>{{ property.valuationRange }}</span>
          </p>
          <p>
            Valuation Change: &nbsp;
            <span>{{ property.valuationChange }}</span>
          </p>
        </div>
      </v-flex>
      <!-- / -->
    </v-layout>
  </v-flex>
</template>

<script>
import Property from '../models/Property';

export default {
  // eslint-disable-next-line
  props: ["property", "lastSoldPrice", "lastSoldDate"],
  data() {
    return {};
  },
  computed: {
    binding() {
      const binding = {};
      if (this.$vuetify.breakpoint.smAndDown) binding.column = true;
      if (this.$vuetify.breakpoint.smAndUp) binding.row = true;
      return binding;
    }
  }
};
</script>


<style lang="scss">
$primary: #432b59;

.result {
  margin-top: 100px;
  .address {
    font-size: 2em;
    font-family: "Lato", sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
.details {
  margin-top: 2.3rem;
  margin-bottom: 0px;
  font-size: 2rem;
  color: #636363;
  span {
    color: $primary;
    font-weight: 600;
  }
}

.fa-2x {
  color: $primary;
}

.icons {
  margin-right: 30px;
  margin-left: 10px;
  font-size: 1.8rem;
}

.label {
  border-radius: 3px;
  background-color: #3dc140;
  color: white;
  width: 7.7rem;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.row {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}

.details-container {
  background-color: white;
  border-radius: 12px;
  padding-top: 3rem;
  padding-bottom: 0.1rem;
  padding-left: 3rem;
  height: 28.5rem;

  @media (min-width: 400px) {
    min-width: 21rem;
  }

  @media (min-width: 768px) {
    min-width: 25rem;
  }

  h1 {
    font-weight: 500;
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
  p {
    font-weight: 600;
    font-size: 1.2rem;
    span {
      font-weight: normal;
    }
  }
}

.zestimate-container {
  background-color: #0371de;
  border-radius: 12px;
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  height: 28.5rem;
  img {
    width: 50%;
    margin-bottom: 1.5rem;
  }
  p {
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
    span {
      font-weight: normal;
    }
  }
}

@media (min-width: 0) {
  .flex {
    .sm6 {
      max-width: 49% !important;
    }
  }
}
</style>