<template>
  <!-- CONTAINER -->
  <v-container
    fluid
    fill-height
  >
    <!-- LAYOUT -->
    <v-layout
      align-center
      justify-center
      row
      fill-height
    >
      <!-- FLEX -->
      <v-flex xs9>
        <!-- Header -->
        <div class="header-container">
          <h1>Certain Lending</h1>
          <p>Complete and relavent property data for accurate loan underwriting applications</p>
        </div>
        <!-- / -->
        <!-- Form -->
        <form @submit.prevent="submitForm">
          <div>
            <!-- V-Input -->
            <v-input
              prepend-icon="search"
              :hide-details="true"
            >
              <!-- Input -->
              <input
                id="address"
                ref="autocomplete"
                required
                placeholder="Search address"
                class="search-location"
                onfocus="value = ''"
                type="text"
                @keyup.enter="submitForm"
              >
              <!-- / -->
              <!-- Button -->
              <v-btn
                v-if="street"
                :loading="loading"
                :disabled="loading"
                :ripple="false"
                :dark="true"
                color="#432b59"
                type="submit"
                @click="loader = 'loading'"
              >Submit</v-btn>
              <!-- / -->
            </v-input>
            <!-- / -->
          </div>
        </form>
        <!-- Result -->
        <Result
          v-if="property != ''"
          id="result"
          :property="property"
          :last-sold-date="lastSoldDate"
          :last-sold-price="lastSoldPrice"
        />
        <!-- / -->
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
var convert = require('xml2js').parseString;
import Property from '../models/Property';
import Result from './Result';

export default {
  components: {
    Result
  },
  data() {
    return {
      disabled: true,
      searchError: '',
      searchInput: '',
      loader: null,
      loading: false,
      property: '',
      compsJson: [],
      lastSoldPrice: '',
      lastSoldDate: '',
      address: '',
      street: '',
      cit: '',
      state: '',
      zip: ''
    };
  },
  watch: {
    property() {
      this.loading = false;
    },
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      if (this.property != '' || this.searchError === 'error') {
        this[l] = false;
      }
    }
  },
  mounted() {
    var data = this;

    this.autocomplete = new google.maps.places.Autocomplete(
      this.$refs.autocomplete,
      { types: ['geocode'] }
    );

    this.autocomplete.addListener('place_changed', () => {
      let place = this.autocomplete.getPlace();
      let ac = place.address_components;
      data.address = ac[0]['short_name'];
      data.street = ac[1]['short_name'];
      data.city = ac[3]['short_name'];
      data.state = ac[5]['short_name'];
      data.zip = ac[7]['short_name'];
    });
  },
  methods: {
    submitForm() {
      var data = this;
      data.searchError = '';
      data.property = '';
      // console.log(process.env.VUE_APP_ZWSID);
      axios
        .get(
          `https://cors-anywhere.herokuapp.com/http://www.zillow.com/webservice/GetDeepSearchResults.htm?zws-id=${
            process.env.VUE_APP_ZWSID
          }&address=${data.address}+${data.street}&citystatezip=${
            data.city
          }%2C+${data.state}`
        )
        .then(response => {
          var json = convert(response.data, function(err, result) {
            var root =
              result['SearchResults:searchresults']['response'][0][
                'results'
              ][0]['result'][0];
            const zpid = root['zpid'][0];
            const address = root['address'];
            var street = address[0]['street'][0];
            const zipcode = address[0]['zipcode'][0];
            const city = address[0]['city'][0];
            const state = address[0]['state'][0];
            var bathrooms = root['bathrooms'][0];
            const bedrooms = root['bedrooms'][0];
            const finishedSize = root['finishedSqFt'][0];
            const soldPrice = root['lastSoldPrice'][0]['_'];
            const soldDate = root['lastSoldDate'][0];
            const lotSize = root['lotSizeSqFt'][0];
            var propertyType = root['useCode'][0];
            const yearBuilt = root['yearBuilt'][0];

            // zestimate
            const zestimate = root['zestimate'][0];
            var amount = zestimate['amount'][0]['_'];
            const lastUpdated = zestimate['last-updated'][0];
            const valuationHigh =
              zestimate['valuationRange'][0]['high'][0]['_'];
            const valuationLow = zestimate['valuationRange'][0]['low'][0]['_'];
            const valuationChange = zestimate['valueChange'][0]['_'];

            // Transforms
            const formatter = new Intl.NumberFormat('en-US', {
              style: 'currency',
              currency: 'USD',
              minimumFractionDigits: 0
            });

            const formattedValuationHigh = formatter.format(
              parseInt(valuationHigh)
            );
            const formattedValuationLow = formatter.format(
              parseInt(valuationLow)
            );
            const valuationRange = `${formattedValuationHigh} - ${formattedValuationLow}`;
            var fullAddress = `${street} ${city}, ${state} ${zipcode}`;
            bathrooms = parseInt(bathrooms, 10);
            var formattedPrice = formatter.format(parseInt(soldPrice));
            const zestimateAmount = formatter.format(parseInt(amount));

            // Hard coding vairables to seperate words instead of using a for loop becuase
            // it'll be faster checking cases than loop through each character every time
            if (propertyType === 'SingleFamily') {
              propertyType = 'Single Family';
            } else if (propertyType === 'MultiFamily2To4') {
              propertyType = 'Multi-Family 2 To 4';
            } else if (propertyType === 'MultiFamily5Plus') {
              propertyType = 'Multi-Family 5 Plus';
            } else if (propertyType === 'VacantResidentialLand') {
              propertyType = 'Vacant Residential Land';
            }

            var property = new Property(
              fullAddress,
              propertyType,
              yearBuilt,
              lotSize,
              finishedSize,
              bathrooms,
              bedrooms,
              zpid,
              zestimateAmount,
              valuationRange,
              valuationChange,
              lastUpdated
            );

            data.property = property;

            // Optional
            data.lastSoldPrice = formattedPrice;
            data.lastSoldDate = soldDate;
          });
        })
        .catch(error => {
          this.$store.state.error = true;
          this.loading = false;
          setTimeout(() => {
            this.$store.state.error = false;
          }, 2000);
        });
    },
    compsResult() {
      //
    }
  }
};
</script>
<style lang="scss">
// =======================================
// THEME
// =======================================
$primary: #432b59;

// =======================================
// HEADER
// =======================================

.header-container {
  margin-left: -13px;
  h1 {
    font-size: 3rem !important;
    color: #432b59;
    font-weight: normal;
  }
  p {
    font-size: 2rem;
  }
}

// =======================================
// FORM
// =======================================

form {
  label {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.03em;
    font-weight: bold;
  }
  input,
  textarea {
    width: 90%;
  }
  input,
  button {
    border-radius: 4px;
    padding: 8px 15px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    border-radius: 3px !important;
  }
}

#address {
  padding-left: 40px;
  height: 200px !important;
  font-size: 14pt;
}

// =======================================
// OVERRIDE Vuetifyjs
// =======================================

.v-input {
  align-items: center;
}

.v-input__prepend-outer {
  margin-right: -38px;
  z-index: 3;
}

.v-input__slot {
  border: 1px solid #dbdbdb;
  color: #333;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 2px 16px #ececec;
  background-color: white;
  height: 70px;
}

.v-progress-circular {
  color: $primary;
}
</style>