<template>
  <v-app id="app">
    <v-alert
      v-if="error"
      :value="true"
      color="error"
    >Property not found. Please Try again.</v-alert>
    <router-view />
  </v-app>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import Property from './models/Property';
var convert = require('xml2js').parseString;

export default {
  name: 'App',
  data() {
    return {};
  },
  computed: {
    error() {
      return this.$store.state.error;
    }
  }
};
</script>
<style lang="scss">
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}
</style>